{% extends "base.html" %}

{% block content %}

<center><h1>Student Insights</h1></center>
<table width="100%" height="100%">
    <tr>
        <td valign="middle">
            <form method="GET">
                <select class="form-select-sm" name="chart_type" id="chart_type">
                    <option value="standard">Standard-Wise Distribution</option>
                    <option value="age">Age-Wise Distribution</option>
                    <option value="gender">Gender-Wise Distribution</option>
                </select>
                <button type="submit" class="btn btn-dark btn-sm">Show</button>
            </form>
            {% if chart_type == "standard" %}
                {{ standard_chart|safe }}
            {% elif chart_type == "age" %}
                {{ age_chart|safe }}
            {% elif chart_type == "gender" %}
                {{ gender_chart|safe }}
            {% endif %}
        </td>
        <td valign="middle">
            {% if chart_type == "standard" %}
                <h1>Standard-Wise Distribution</h1>
                <h5 class="text-body-secondary">This chart shows the distribution of students across different standards. It helps in understanding the distribution of students in each class.</h5>
            {% elif chart_type == "age" %}
                <h1>Age-Wise Distribution</h1>
                <h5 class="text-body-secondary">The age-wise distribution gives insights into the age groups of students. It helps in understanding the age demographics of the student population.</h5>
            {% elif chart_type == "gender" %}
                <h1>Gender-Wise Distribution</h1>
                <h5 class="text-body-secondary">This chart illustrates the gender distribution among students. It provides insights into the gender balance within the student community.</h5>
            {% endif %}
        </td>
    </tr>
</table>

{% endblock %}